.arrow_back{
    cursor: pointer !important;
}
.formControl > .MuiFormControlLabel-root{
    white-space: nowrap !important;
}
.dropzone_container_category label{
    margin-top: 15px;
    border: 1px solid gray !important;
    min-width: 300px !important;
    max-width: 100% !important;
}
.dropzone_container_category {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}